.place__image {
  grid-area: image;
  max-width: 100%;
  object-fit: contain;
}
@media (max-width: 500px) {
  .place__image {
    grid-area: image;
    max-width: calc(100% + 16px);
    object-fit: contain;
  }
}