.navigation__link {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
  text-align: left;
  color: #FFFFFF;
  margin-right: 18px;
}
@media (max-width: 750px) {
  .navigation__link {
    font-size: 24px;
    line-height: 1;
  }
  .navigation__link:not(:last-child) {
    margin-bottom: 32px;
  }
}